#container-outer {
    float:left;
    overflow: hidden;
    background: #eee;
    margin-top:100px;
    border: 5px solid black;
    border-radius: 5px;
    width:100%

}
#container-inner {
     float:left;
     background: #ced2ff;
     position: relative;
     right:85%;
     border: 5px solid black;
     border-radius: 5px;
    width:100%
}

#headercontent {
    /*padding-left: 20px;
    padding-top: 20px;*/
}

#content {
    float: left;
    width: 85%;
    position: relative;
    left: 85%;

}

#content-real {
    padding-left: 20px;
}

#sidebar {
    float: left;
    width: 15%;
    position: relative;
    left: 85%;
}

#top-logo-div {
    float: left;
    width: 15%;
    position: relative;
    left: 85%;
}

.top {
    position:absolute;
    left:0; top:0;right:0;
    height: 100px;

}

#sidebar a {
    color: #333;
    display: block;
    border:3px solid #233266;
    height: 16px;
    padding: 4px 0 4px 14px;
    text-decoration: none;
    font-weight:bold;
    background-color: #b8bdfb;
}

#sidebar a:hover{
    background-color: #4857ff;
    color:#fff;
}


#sidebar ul {
    margin: 0 0 5px 0;
    padding: 0 0 2px 0;
    list-style-type: none;
    width:100%;
}
#sidebar li {
}

.main {
    top:100px;
    margin-top:100px;
    margin-left:200px;
    /*background-color: #F7F1E6;*/
    border-left: 5px solid black;
    padding-left: 15px;
    border-radius: 5px;
    width:100%
}

body {
    background-color: rgba(233, 241, 245, 0.10);
}

nav
{
    top:100px;
    left:0;
    right:0;
    bottom:0;
    background-color:#aaa;
    color:green;
    min-width:800px;
    text-align:left;
    height:20px;
    padding:10px 20px;
}


nav a
{
    font-size:14px;
    margin:10px 0;height:20px;
    padding:12px 10px;
    color:#000;
    text-decoration:none;
}

nav a:hover
{
    background-color:#333;
}

div.centered
{
    text-align: center;
}
div.centered table
{
    margin: 0 auto;
    text-align: left;
}

td {
    border-style:solid;
    border-left: hidden;
    border-top: hidden;
    border-bottom: hidden;
    border-right:2px solid #79bcff;
}

div.idea {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    /*height: 350px;*/
    border: 2px solid #3533ff;
    width: 85%;
    background-color: #faffe7;
    text-align: center;
}

a.idea-button {
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position: relative;
    cursor: pointer;
    height:20px;
    background-color: black;
}

a.idea-shareinfo {
    display: inline-block;
    padding: 5px 10px 6px;
    color: #140ed4;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #ffffff;
    position: relative;
    cursor: pointer;
    height:20px;
    background-color: #ffffff;
}

a.idea-button:hover {
    display: inline-block;
    padding: 5px 10px 6px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 1px -1px #222;
    position: relative;
    cursor: pointer;
    height:20px;
    background-color: #ffffff;
}

div.idea-body {
    text-align: justify;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px black;
}